@charset "UTF-8";
/**
 * 
 * @authors Lvhongbin (hblvsjtu@163.com)
 * @date    2018-07-22 09:29:54
 * @version V0.0.1
 * @description: item style
 */

.title {
	display: inline-block; 
	position: absolute;
	top: 2rem;
	left: 0px; 
	right: 0px;
	width: 300px; 
	margin: 0 auto;
	font-size: 4rem;
	line-height: 1.2em;
	text-align: center;
	color: white;
}

.description {
	display: inline-block; 
	position: absolute;
	bottom: 10px;
	left: 10px; 
	width: 300px; 
	font-size: 1rem;
	line-height: 1.2em;
	text-align: left;
	color:white;
}

.target,  .hit , .score {
	display: inline-block;
	position: absolute;
	color: red;
	top: 100px;
	right: 10px; 
	width: 300px;
	font-size: 1.5rem;
	line-height: 1.2em;
	text-align: left;
}

.target {
	top: 50px;
}

.hit {
	top: 100px;
}

.score {
	top: 150px;
}

.time {
	display: inline-block;
	position: absolute;
	color: yellow;
	top: 0;
	left: 10px; 
	width: 200px;
	font-size: 1rem;
	line-height: 1.2em;
	text-align: left;
}

.centerBlock {
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0; 
	right: 0;
	margin: auto;
	perspective: 1000px; 
	transform: scale(2);
}

.fail, .success{
	position: fixed; 
	height: 100%; 
	width: 100%; 
	background: rgba(0,0,0,0.5); 
	z-index:2;
	p {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		height: 300px;
		margin-left: -250px;
		margin-top: -150px;
		font-size: 3rem;
		line-height: 100px;
		color: red;
		vertical-align: middle;
		text-align: center;
		button {
			display: inline-block;
			position: relative;
			cursor: pointer;
			margin: 5px;
			width:150px;
			height: 50px;
			font-size: 2rem;
			background: #00ddeb;
			box-shadow: 0px 5px #028d96;
			color: white;
			border-radius: 3px;
			text-align: center;
			/* so nobody selects the inside text on button */
			user-select: none;
			/* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
			transition: all 0.2s ease;
			&:hover {
			  	background: #01d1de;
  				box-shadow: 0px 4px #006066;
  				color: white;
			}
			/* Imitate a pressed effect for buttons */
			&:active {
			  	top: 4px;
  			  	box-shadow: 0px 0px #d3545d;
			}
		}
	}
}