@charset "UTF-8";
/**
 * 
 * @authors Lvhongbin (hblvsjtu@163.com)
 * @date    2018-07-22 09:29:54
 * @version V0.0.1
 * @description: item style
 */
.loginOuter {
	position: fixed; 
	top: 0;
	left: 0;
	bottom: 0; 
	right: 0;
	background: rgba(0,0,0,0.5); 
	z-index:3;
}

.loginIn, .loginUp {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0; 
	right: 0; 
	width: 30rem; 
	height: 20rem; 
	margin: auto; 
	padding: 20px 50px; 
	background: yellow; 
	border-radius: 5px; 
	font-size: 2rem;
	span {
		float: left;
		margin-top: 10px;
	}
	input {
		float: left;
		width: 30rem;
	}
}

.loginUp {
	height: 30rem;
}

.loginBtnArray {
	display: inline-block; 
	width: 100%; 
	text-align: center;
}

.loginBtn {
	margin: 15px;
 	z-index:4;
 	font-size: 2rem;
 	background: #00ddeb;
 	box-shadow: 0px 5px #028d96;
 	color: white;
 	border-radius: 3px;
 	text-align: center;
 	transition: all 0.2s ease;
	&:hover {
	  	background: #01d1de;
			box-shadow: 0px 4px #006066;
			color: white;
	}
	/* Imitate a pressed effect for buttons */
	&:active {
	  	top: 4px;
		  	box-shadow: 0px 0px #d3545d;
	}
} 